name: Terraform

on:
  push:
    branches:
      - main
    paths:
      - 'modules/**'
      - 'main.tf'
      - 'variables.tf'
      - 'outputs.tf'
      - 'data.tf'
      - 'provider.tf'
      - 'terraform.tf'
      - 'environments/**'
      - '.github/workflows/terraform.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'modules/**'
      - 'main.tf'
      - 'variables.tf'
      - 'outputs.tf'
      - 'data.tf'
      - 'provider.tf'
      - 'terraform.tf'
      - 'environments/**'
      - '.github/workflows/terraform.yml'
  workflow_dispatch:


  
permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  terraform-prod:
    name: Terraform Prod
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./environments/prod
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_WIF_SA_EMAIL }}
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5
      
      - name: Terraform Format
        id: fmt
        run: terraform fmt -check
        continue-on-error: true
      
      - name: Terraform Init
        id: init
        run: terraform init
        env:
          GOOGLE_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          TF_VAR_cloudflare_zone_id: ${{ secrets.CLOUDFLARE_ZONE_ID }}
          TF_VAR_dkim_public_key: ${{ secrets.DKIM_PUBLIC_KEY }}

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        working-directory: ./environments/prod
        run: terraform plan -auto-approve
        env:
          GOOGLE_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          TF_VAR_cloudflare_zone_id: ${{ secrets.CLOUDFLARE_ZONE_ID }}
          TF_VAR_dkim_public_key: ${{ secrets.DKIM_PUBLIC_KEY }}


